<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content='width=device-width, initial-scale=1.0'>
        <title>Location Information</title>
        <body>
            <div class = "main-contender">
                <h3><%= title %></h3><hr>
                <h4>버스 ID <%= number %> 의 위치 정보는 아래와 같습니다.</h4>
                <p>버스 ID : <%=id %></p>
                <p>차량번호 : <%veh_num%></p>
                <p>혼잡도 : <%= congetion %></p>
                <p>X 좌표 : <%= posX %></p>
                <p>Y 좌표 : <%= posY %></p>
            </div>
        </body>
    </head>
</html>
